<ng-container *ngIf="currentRoute !== '/login'">
    <app-header></app-header>
</ng-container>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="pantallaPrincipal" *ngIf="vmostrar_pantallaPrincipal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary btn-sm text-black" href="#"
                            (click)="mostrarPantallaprincipal()">Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary btn-sm text-black" href="#"
                            (click)="mostrarRegistroClientes()">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary btn-sm text-black" href="#">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- <router-outlet></router-outlet> -->