<div class="mt-5">
    <h2>Mascotas registradas</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre de la mascota</th>
                <th scope="col">Raza</th>
                <th scope="col">Edad</th>
                <th scope="col">Identificacion Cliente</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí agregar dinámicamente las filas con los datos de las mascotas registradas -->
            <tr *ngFor="let mascota of listaMascotas">
                <td>{{mascota.nombreMascota}}</td>
                <td>{{mascota.raza}}</td>
                <td>{{mascota.fechaNacimiento}}</td>
                <td>{{mascota.identificacionCliente}}</td>
                <td><button class="btn btn-secondary"
                        (click)="editarMascota(mascota.identificacionCliente)">Editar</button></td>
                <td><button class="btn btn-secondary" (click)="eliminarMascota(mascota)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-secondary m-2" [routerLink]="['/administrador/actualizarMascotas/creacionmascota']">Agregar Mascotas</button>
