<div class="pantallaRegistroClientes">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="container mt-4">
                    <h2>Registrar nuevo cliente</h2>
                    <form [formGroup]="formCrearCliente">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="nombreCliente" class="form-label">Nombre del cliente</label>
                                    <input type="text" class="form-control" id="nombreCliente"
                                        formControlName="nombreCliente">
                                    <span *ngIf="nombreClienteNoValido">Por favor ingresar datos validos</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="identificacion" class="form-label">Identificacion</label>
                                    <input type="text" class="form-control" id="identificacion"
                                        formControlName="identificacion">
                                    <span *ngIf="identificacionNoValido">Por favor ingresar datos validos</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="direccion" class="form-label">Direccion</label>
                                    <input type="text" class="form-control" id="direccion" formControlName="direccion">
                                    <span *ngIf="direccionNoValido">Por favor ingresar datos validos</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Telefono</label>
                                    <input type="number" class="form-control" id="telefono" formControlName="telefono">
                                    <span *ngIf="telefonoNoValido">Por favor ingresar datos validos</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" (click)="agregarCliente()"
                            [disabled]="formCrearCliente.invalid">Registrar nuevo cliente</button>
                    </form>
                    <button class="btn btn-secondary mt-2" [routerLink]="['/administrador/clientes']">Lista clientes</button>
                </div>
            </div>
        </div>
    </div>
</div>