<h1>CLIENTES</h1>
<div class="mt-5">
    <h2>Clientes registrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre del Cliente</th>
                <th scope="col">Identificacion</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Mascotas</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí agregar dinámicamente las filas con los datos de las mascotas registradas -->
            <tr *ngFor="let cliente of listaClientes">
                <td>{{cliente.nombreCliente}}</td>
                <td>{{cliente.identificacion}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td *ngIf="cliente.mascotas && cliente.mascotas.length > 0"><button class="btn btn-secondary" (click)="mostrarMascota(cliente)">Mascotas</button></td>
                <td><button class="btn btn-secondary" (click)="editarCliente(cliente.identificacion)">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-secondary" (click)="agregarCliente()">Agregar Clientes</button>

<button type="button" id="btnmodalMascotas" class="btn btn-secondary" data-toggle="modal" data-target="#modalMascotas"
    [hidden]="true">
</button>

<div class="modal" id="modalMascotas" *ngIf="vClienteSeleccionado">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Encabezado del modal -->
            <div class="modal-header">
                <h4 class="modal-title">Mascotas</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Contenido del modal -->
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre de la mascota</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Nombre del cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí agregar dinámicamente las filas con los datos de las mascotas registradas -->
                        <tr *ngFor="let mascota of vClienteSeleccionado.mascotas">
                            <td>{{mascota.nombreMascota}}</td>
                            <td>{{mascota.raza}}</td>
                            <td>{{mascota.fechaNacimiento}}</td>
                            <td>{{vIdentificacionClienteAnterior}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>